.root {
  font-family: 'Lato', sans-serif;	
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}
  
.entry:not(:last-child) {
  margin-bottom: 6px;
}
  
.key {
  font-weight: 600;
  margin-right: 10px;
}
