.root {	
  margin: 26px 0 14px 0;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
