/* App CSS */

.App {
  max-width: 375px;
  margin: auto;
  color: #444444;
}

.Container {
  padding-left: 20px;
  padding-right: 20px;
}

/* Header */

.Header {
  background-color: #5C606F;
  height: 80px;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.Header-logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.Header-logo-img {
  display: block;
  width: 100%;
}

/* User Info */

.UserInfo-heading {	
  margin: 26px 0 14px 0;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.UserInfo-title {
  font-family: Montserrat;
  font-size: 20px;
}

.UserInfo-logout {
  color: #1673B1;	
  font-family: Lato;	
  font-size: 10px;	
  font-weight: bold;	
  text-transform: uppercase;
}

.UserInfo-avatar-and-details {
  display: flex;
}

.UserInfo-avatar {
  margin-right: 16px;
  margin-bottom: 30px;
}

.UserInfo-details {
  padding-top: 8px;
}

/* Avatar */

.Avatar {
  height: 84px;	
  width: 84px;	
  border-radius: 3px;	
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Avatar-icon {
  width: 44px;
  display: block;
  margin-bottom: 2px;
}

.Avatar-icon-text {
  color: #777777;	
  font-family: Montserrat;	
  font-size: 12px;	
  font-weight: 600;	
}

/* User Info Details */

.DetailsList {
  font-family: Lato;	
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.DetailsList-entry:not(:last-child) {
  margin-bottom: 6px;
}

.DetailsList-key {
  font-weight: bold;
  margin-right: 10px;
}

/* Alerts */

.Alerts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Alerts-entry {
  height: 54px;
  background-color: #f5f5f5;
  display: flex;
}

.Alerts-entry:not(:last-child) {
  margin-bottom: 1px;
}

.Alert-priority {
  width: 14px;
  height: 54px;
  background-color: #000;
}

.Alert-priority-high {
  background-color: #bc7777;
}

.Alert-priority-medium {
  background-color: #dab479;
}

.Alert-meta-and-time {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
}

.Alert-theme-and-message-count {
  display: flex;
  flex-direction: column;
}

.Alert-theme {
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 600;
}

.Alert-message-count {
  font-size: 13px;
}

.Badge {
  background-color: #fff;
  font-size: 10px;
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
