/* App CSS */

.App {
  max-width: 375px;
  margin: auto;
  color: #444444;
}

.Container {
  padding-left: 20px;
  padding-right: 20px;
}

/* Header */

.Header {
  background-color: #5C606F;
  height: 80px;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.Header-logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.Header-logo-img {
  display: block;
  width: 100%;
}

/* User Info */

.UserInfo-heading {	
  margin: 26px 0 14px 0;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.UserInfo-title {
  font-family: Montserrat;
  font-size: 20px;
}

.UserInfo-logout {
  color: #1673B1;	
  font-family: Lato;	
  font-size: 10px;	
  font-weight: bold;	
  text-transform: uppercase;
}

.UserInfo-avatar-and-details {
  display: flex;
}

.UserInfo-avatar {
  margin-right: 16px;
  margin-bottom: 30px;
}

/* Avatar */

.Avatar {
  height: 84px;	
  width: 84px;	
  border-radius: 3px;	
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Avatar-icon {
  width: 44px;
  display: block;
  margin-bottom: 2px;
}

.Avatar-icon-text {
  color: #777777;	
  font-family: Montserrat;	
  font-size: 12px;	
  font-weight: 600;	
}

/* User Info Details */

.DetailsList {
  font-family: Lato;	
  font-size: 14px;
}

label {
  font-weight: 600;
  padding-right: 10px;
}

#email {
  padding-top: 10px;
}

#organisation {
  padding-top: 10px;
}

/* Alerts */

.Alert-heading {
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  margin-bottom: 20px;
}

.Alert-title {
  font-family: Montserrat;
  font-size: 20px;
}

/* Themes */

.Alert-body {
  height: 54px;
  background-color: #F5F5F5;
  margin-top: 1px;
}

.Grooming-theme-color {
  height: 54px;
  width: 14px;
  background-color: #BC7777;
}

.Abuse-theme-color {
  height: 54px;
  width: 14px;
  background-color: #BC7777;
}

.Self-harm-theme-color {
  height: 54px;
  width: 14px;
  background-color: #DAB479;
}

.Harassment-theme-color {
  height: 54px;
  width: 14px;
  background-color: #DAB479;
}

.Fraud-detection-theme-color {
  height: 54px;
  width: 14px;
  background-color: #95AD70;
}

.Hate-speech-theme-color {
  height: 54px;
  width: 14px;
  background-color: #95AD70;
}

.Alert-theme-and-message-count {
  height: 50px;	
  width: 120px; /*not accurate */
  padding-left: 24px;
  padding-bottom: 10px;
  padding-top: 11px;
}

.Alert-theme {
  font-family: Montserrat;	
  font-size: 14px;	
  font-weight: 600;
}

.Alert-message-count {
  font-family: Montserrat;	
  font-size: 14px;
}

.Alert-time {
  height: 50px;	
  width: 100px;
  font-family: Montserrat;	
  font-size: 10px;	
  font-weight: 600;
  text-align: center;
}
