/* App CSS */

.App {
  max-width: 375px;
  margin: auto;
}

.Container {
  padding-left: 20px;
  padding-right: 20px;
  color: #444444;
}

/* Header */

.Header {
  background-color: #5C606F;
  height: 80px;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.Header-logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.Header-logo-img {
  display: block;
  width: 100%;
}

/* User Info */

.UserInfo-heading {	
  margin: 26px 0 14px 0;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}

.UserInfo-title {
  font-family: Montserrat;
  font-size: 20px;
}

.UserInfo-logout {
  color: #1673B1;	
  font-family: Lato;	
  font-size: 10px;	
  font-weight: bold;	
  text-transform: uppercase;
}

.UserInfo-avatar-and-details {
  display: flex;
}

.UserInfo-avatar {
  margin-right: 16px;
}

/* Avatar */

.Avatar {
  height: 84px;	
  width: 84px;	
  border-radius: 3px;	
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Avatar-icon {
  width: 44px;
  display: block;
  margin-bottom: 2px;
}

.Avatar-icon-text {
  color: #777777;	
  font-family: Montserrat;	
  font-size: 12px;	
  font-weight: 600;	
}

/* User Info Details */

.DetailsList {
  font-family: Lato;	
  font-size: 14px;
}

label {
  font-weight: 600;
  padding-right: 10px;
}

#email {
  padding-top: 10px;
}

#organisation {
  padding-top: 10px;
}
